*{
    background-image: url(layout.jpg);
    background-position: fixed;
    background-size: 100%;
}
:root{
    --bg-color: #ffffff;
    --text-color: #000;
    --secound-color: #a09dab;
    --main-color: #f75023;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;

}
.btn{
    display: inline-block;
    color: var(--bg-color);
    background: var(--main-color);
    font-size: var(--p-font);
    padding: 10px 40px;
    font-weight: 500px;
    line-height: 24px;
    border-radius: 30px;
    transition: ease .40s;
}
.btn:hover{
    transform: scale(1.1);
}